@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a.disabled {
  cursor: none;
  pointer-events: none;
}

input,
button {
  outline: none;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.text_white {
  color: #ffffff;
}

.text_turquoise {
  color: #00a092;
}

.text_orange {
  color: #f58021;
}

.text_blue {
  color: #20113d;
}

.text_size_s {
  font-size: 18px;
  line-height: 27px;
}

.text_size_m {
  font-size: 26px;
  line-height: 34px;
  font-weight: 500;
}

.text_semi-bold {
  font-weight: 600;
}

.text_uppercase {
  text-transform: uppercase;
}

.text_button {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.title_h2 {
  font-size: 54px;
  line-height: 66px;
}

.title_h3 {
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  padding-top: 26px;
  padding-bottom: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button_border_white {
  border: 1px solid #ffffff;
}

.button_border_white:hover {
  background: #00a092;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button_border_blue {
  border: 1px solid #20113d;
}

.button_border_blue:hover {
  background: #20113d;
  border: 1px solid #ffffff;
}

.button_border_blue:hover .text_blue {
  color: #ffffff;
}

.button_border_blue:hover .arrows__button_white {
  display: block;
}

.button_border_blue:hover .arrows__button_blue {
  display: none;
}

.button_border_blue:hover .slider-item__button_blue {
  display: none;
}

.button_border_blue:hover .slider-item__button_white {
  display: block;
}

.button_orange {
  background: #f58021;
}

.button_orange:hover {
  background: #d26004;
}

.button_turquoise {
  background: #00a092;
}

.button_turquoise:hover {
  background: #05786e;
}

.button__image {
  margin-left: 10px;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.arrows__button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  padding: 19px 18px;
}

.arrows__button:not(:last-child) {
  margin-right: 57.5px;
}

.arrows__button_white {
  display: none;
}

.page_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  padding-left: 3.3vw;
  padding-right: 3.3vw;
}

@media (max-width: 640px) {
  .page_center {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (max-width: 320px) {
  .page_center {
    padding-left: 6vw;
    padding-right: 6.3vw;
  }
}

.wrapper {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.wrapper_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-heading {
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header {
  height: 110px;
  background: #f58021;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
}

@media (max-width: 1200px) {
  .header-links {
    margin-right: 5.5%;
  }
}

@media (max-width: 1080px) {
  .header-links {
    margin-right: 0;
  }
}

@media (max-width: 780px) {
  .header-links {
    display: none;
  }
}

.header-burger {
  display: none;
}

@media (max-width: 780px) {
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 4.3vw;
  }
  .header-burger__span {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2.5px;
    left: 0;
    top: 14px;
  }
  .header-burger::before, .header-burger::after {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
}

@media (max-width: 320px) {
  .header-burger {
    margin-right: 16px;
    width: 22px;
  }
}

@media (max-width: 1200px) {
  .logo {
    margin-left: 5.3%;
    margin-top: 4px;
  }
}

@media (max-width: 1080px) {
  .logo {
    margin-left: 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__item_active {
  color: #00a092;
  pointer-events: none;
}

.menu__item:hover .menu__link {
  color: #00a092;
}

.menu__item:not(:first-child) {
  margin-left: 48px;
}

@media (max-width: 1200px) {
  .menu__item:not(:first-child) {
    margin-left: 2.5vw;
  }
}

@media (max-width: 940px) {
  .menu__item:not(:first-child) {
    margin-left: 2vw;
  }
}

@media (max-width: 390px) {
  .menu__item-footer .text_button {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 1340px) {
  .menu__item-footer:not(:first-child) {
    margin-left: 1.7vw;
  }
}

@media (max-width: 1140px) {
  .menu__item-footer:not(:first-child) {
    margin-left: 8.3vw;
  }
}

@media (max-width: 450px) {
  .menu__item-footer:not(:first-child) {
    margin-left: 4.6vw;
  }
}

.social-media {
  margin-top: 3px;
}

.social-media__list {
  margin-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1200px) {
  .social-media__list {
    margin-left: 6.6vw;
  }
}

@media (max-width: 940px) {
  .social-media__list {
    margin-left: 2vw;
  }
}

@media (max-width: 688px) {
  .social-media__list {
    margin-left: 0.5vw;
  }
}

.social-media__item:not(:first-child) {
  margin-left: 30px;
}

@media (max-width: 940px) {
  .social-media__item:not(:first-child) {
    margin-left: 2vw;
  }
}

@media (max-width: 768px) {
  .social-media__item:not(:first-child) {
    margin-left: 1vw;
  }
}

@media (max-width: 688px) {
  .social-media__item:not(:first-child) {
    margin-left: 0.2vw;
  }
}

.social-media__image {
  width: 40px;
  height: 40px;
}

.line {
  border-top: 2px solid #ffffff;
  width: 100%;
}

.footer {
  background: #20113d;
}

@media (max-width: 1200px) {
  .footer {
    padding: 0;
  }
}

.footer__logo {
  position: relative;
}

.footer__logo:not(:last-child) {
  margin-right: 65px;
}

@media (max-width: 1340px) {
  .footer__logo:not(:last-child) {
    margin-right: 2.5vw;
  }
}

@media (max-width: 1140px) {
  .footer__logo:not(:last-child) {
    margin-right: 12.6vw;
  }
}

@media (max-width: 450px) {
  .footer__logo:not(:last-child) {
    margin-right: 3.6vw;
  }
}

@media (max-width: 390px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 27px;
    margin-right: 0;
  }
}

.footer__logo:hover .tooltiptext {
  visibility: visible;
}

.footer-nav {
  margin-top: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .footer-nav {
    padding-left: 3.3vw;
    padding-right: 3.3vw;
  }
}

@media (max-width: 1140px) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
  }
}

.footer-menu__button {
  padding-left: 34px;
  padding-right: 34px;
}

@media (max-width: 1140px) {
  .footer-menu__button {
    margin-top: 46px;
  }
}

@media (max-width: 390px) {
  .footer-menu__button {
    margin-top: 31px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 29px;
    padding-right: 29px;
  }
  .footer-menu__button span {
    font-size: 18px;
    text-transform: none;
  }
}

.footer__line {
  margin-top: 67px;
}

@media (max-width: 1140px) {
  .footer__line {
    margin-top: 48px;
  }
}

@media (max-width: 320px) {
  .footer__line {
    display: none;
  }
}

.footer__social-media {
  margin-top: 39px;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .footer__social-media {
    padding-left: 3.3vw;
    padding-right: 3.3vw;
    margin-top: 36px;
  }
}

@media (max-width: 1140px) {
  .footer__social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 48px;
    margin-bottom: 49px;
  }
}

@media (max-width: 390px) {
  .footer__social-media {
    margin-top: 27px;
    margin-bottom: 51px;
  }
}

.footer__social-media-item:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 1140px) {
  .footer__social-media-item:not(:first-child) {
    margin-left: 50px;
  }
}

@media (max-width: 1140px) {
  .footer__social-media-list {
    margin-left: 0;
  }
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .logos {
    margin-top: 4px;
  }
}

@media (max-width: 1140px) {
  .logos {
    margin-bottom: 48px;
  }
}

@media (max-width: 390px) {
  .logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 23px;
  }
}

.donates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1140px) {
  .donates {
    margin-top: 28px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 390px) {
  .donates {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.donates__line {
  display: none;
}

@media (max-width: 320px) {
  .donates__line {
    display: block;
    margin-top: 27px;
  }
}

.donates__text:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 1140px) {
  .donates__text:not(:last-child) {
    margin-right: 7.6vw;
  }
}

@media (max-width: 450px) {
  .donates__text:not(:last-child) {
    margin-right: 2.3vw;
  }
}

@media (max-width: 390px) {
  .donates__text:not(:last-child) {
    margin-bottom: 31px;
  }
}

.tooltiptext {
  position: absolute;
  left: 58px;
  top: -21px;
  visibility: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 13px;
  z-index: 1;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 440px;
  background-color: #20113d;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.slider-item__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider-item:not(:last-child) {
  margin-right: 40px;
}

.slider-item:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slider-item__image {
  position: relative;
  width: 100%;
  height: 436px;
  margin-bottom: 30px;
}

.slider-item__image-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-item__image-text {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #20113d;
  border-radius: 5px 0px;
  padding: 12.5px 29px;
}

.slider-item__title {
  margin-bottom: 17px;
}

.slider-item__text {
  margin-bottom: 149px;
  width: 100%;
  max-width: 380px;
}

.slider-item__button {
  margin-bottom: 49px;
  padding-left: 28px;
  padding-right: 28px;
  position: absolute;
  bottom: 0px;
}

.slider-item__button_white {
  display: none;
}

.slider-item__button:hover {
  background: #f58021;
}

.slider-item__button:hover .text_orange {
  color: #ffffff;
}

.slider-item__button:hover .slider-item__button_white {
  display: block;
}

.slider-item__button:hover .slider-item__button_orange {
  display: none;
}
/*# sourceMappingURL=style.css.map */