{
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "max-len": ["warn", { "code": 120 }]
  },
  "plugins": [
    "prettier"
  ]
}
