.map {
  background-color: #ffffff;

  &_wrapper {
    align-items: center;
  }

  &__title {
    margin-top: 40px;
    max-width: 600px;
  }

  &__block-image {
    margin-top: 70px;
    margin-bottom: 150px;
    position: relative;
  }

  &__anchor {
    position: relative;

    &_tag {
      position: absolute;
      top: -25px;
      left: -26px;
    }

    &_tag-white {
      position: absolute;
      top: -34px;
      left: -39px;
    }

    &_image {
      position: absolute;
      top: 22px;
      left: 15px;
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }

  &__active {
    display: block;
  }

  &__display_none {
    display: none;
  }

  &__animals {
    position: absolute;

    &_eagle {
      top: 45%;
      left: 12%;
    }

    &_alligator {
      top: 46%;
      left: 21%;
    }

    &_lion {
      top: 50.5%;
      left: 41%;
    }

    &_gorilla {
      top: 53%;
      left: 49%;
    }

    &_lemur {
      top: 67%;
      left: 56.5%;

      & .map__anchor_image {
        left: 27px;
      }
    }

    &_panda {
      top: 39%;
      left: 68%;
    }

    &_tiger {
      top: 56%;
      left: 72.5%;
    }

    &_coala {
      top: 68%;
      left: 82%;
    }
  }
}