@charset "UTF-8";
@media (max-width: 600px) {
  .page_center {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .header {
    padding-left: 6vw;
    padding-right: 6.3vw;
  }
  .footer {
    padding: 0;
  }
}

.watch-online {
  background-image: url(../../assets/images/main/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .watch-online {
    background-position: bottom;
    background-size: contain;
  }
}

@media (max-width: 320px) {
  .watch-online {
    background-position: -165px 397px;
    background-size: 164% 42%;
  }
}

.watch-online__title {
  margin-top: 129px;
  margin-bottom: 30px;
  font-weight: 800 !important;
  font-size: 82px;
  line-height: 100px;
  letter-spacing: 0.01em;
  width: 100%;
  max-width: 890px;
}

@media (max-width: 1200px) {
  .watch-online__title {
    margin-top: 100px;
    margin-bottom: 11px;
  }
}

@media (max-width: 980px) {
  .watch-online__title {
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.01em;
    margin-top: 50px;
    margin-bottom: 13px;
  }
}

@media (max-width: 600px) {
  .watch-online__title {
    font-size: 40px;
    line-height: 49px;
    margin-top: 21px;
    margin-bottom: 11px;
  }
}

.watch-online__text {
  width: 100%;
  max-width: 430px;
  margin-bottom: 43px;
}

@media (max-width: 1200px) {
  .watch-online__text {
    width: 28vw;
    margin-bottom: 26px;
  }
}

@media (max-width: 980px) {
  .watch-online__text {
    width: 52vw;
  }
}

@media (max-width: 600px) {
  .watch-online__text {
    width: 95vw;
    margin-bottom: 29px;
  }
}

.watch-online__button {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 131px;
}

@media (max-width: 1200px) {
  .watch-online__button {
    margin-bottom: 100px;
  }
}

@media (max-width: 980px) {
  .watch-online__button {
    padding-left: 52px;
    padding-right: 51px;
    margin-bottom: 49px;
  }
}

@media (max-width: 600px) {
  .watch-online__button {
    padding-left: 60px;
    padding-right: 58px;
    padding-top: 12px;
    padding-bottom: 11px;
    margin-bottom: 279px;
  }
}

@media (max-width: 980px) {
  section.online-zoo {
    padding: 0;
  }
}

.online-zoo_wrapper {
  margin: 150px 0px;
}

@media (max-width: 1200px) {
  .online-zoo_wrapper {
    margin-top: 100px;
    margin-bottom: 99px;
  }
}

@media (max-width: 600px) {
  .online-zoo_wrapper {
    margin-top: 49px;
    margin-bottom: 51px;
  }
}

.online-zoo__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .online-zoo__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 5vw;
  }
}

@media (max-width: 980px) {
  .online-zoo__article {
    margin: 0;
  }
}

.online-zoo__article:not(:last-child) {
  margin-bottom: 150px;
}

@media (max-width: 1200px) {
  .online-zoo__article:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media (max-width: 980px) {
  .online-zoo__article:not(:last-child) {
    margin-bottom: 47px;
  }
}

@media (max-width: 1200px) {
  .online-zoo__article-work {
    margin-left: auto;
  }
}

@media (max-width: 980px) {
  .online-zoo__article-work .article-image__img {
    height: 425px;
  }
}

@media (max-width: 600px) {
  .online-zoo__article-work .article-image__img {
    height: 213px;
    margin-bottom: 2px;
  }
}

.article-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 980px) {
  .article-description {
    margin-left: 21px;
  }
}

@media (max-width: 600px) {
  .article-description {
    margin-left: 10px;
  }
}

.article-description__title {
  max-width: 523px;
  width: 100%;
  margin-top: 26px;
}

@media (max-width: 600px) {
  .article-description__title {
    font-size: 26px;
    line-height: 32px;
  }
}

.article-description__text {
  margin-top: 50px;
  max-width: 560px;
  width: 100%;
}

.article-description__text_active320 {
  display: none;
}

.article-description__text-work_active320 {
  display: none;
}

@media (max-width: 1200px) {
  .article-description__text {
    margin-top: 30px;
    line-height: 27.5px;
  }
}

@media (max-width: 980px) {
  .article-description__text {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .article-description__text {
    margin-top: 22px;
    max-width: 299px;
    height: 216px;
    overflow: hidden;
    display: none;
  }
  .article-description__text_active320 {
    display: block;
  }
  .article-description__text-work_active320 {
    display: block;
    height: 269px;
  }
}

.article-image {
  width: 800px;
  height: 531px;
}

@media (max-width: 1200px) {
  .article-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: auto;
    height: auto;
  }
}

.article-image__img {
  height: 438px;
  width: 660px;
}

@media (max-width: 980px) {
  .article-image__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -10px;
       object-position: -10px;
  }
}

@media (max-width: 600px) {
  .article-image__img {
    width: 329px;
    height: 218px;
  }
}

@media (max-width: 600px) {
  .meet-pets {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.meet-pets_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 136px;
  margin-bottom: 150px;
  position: relative;
}

@media (max-width: 1200px) {
  .meet-pets_wrapper {
    margin-top: 100px;
    margin-bottom: 149px;
  }
}

@media (max-width: 980px) {
  .meet-pets_wrapper {
    position: static;
    margin-bottom: 100px;
  }
}

@media (max-width: 600px) {
  .meet-pets_wrapper {
    margin-top: 50px;
    margin-bottom: 14px;
  }
}

.meet-pets__title {
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .meet-pets__title {
    margin-left: 8vw;
    margin-bottom: 32px;
  }
}

@media (max-width: 980px) {
  .meet-pets__title {
    margin-left: 0;
    max-width: 75vw;
  }
}

@media (max-width: 600px) {
  .meet-pets__title {
    font-size: 26px;
    line-height: 32px;
    max-width: 97vw;
  }
}

.meet-pets__text {
  width: 100%;
  max-width: 920px;
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .meet-pets__text {
    width: auto;
    max-width: 69vw;
  }
}

@media (max-width: 1030px) {
  .meet-pets__text {
    max-width: 95vw;
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .meet-pets__text {
    font-size: 18px;
    line-height: 27px;
    max-width: 96vw;
    margin-bottom: 25px;
  }
}

.meet-pets-slider {
  position: absolute;
  top: 424px;
  left: 0px;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

@media (max-width: 980px) {
  .meet-pets-slider {
    position: static;
    margin-bottom: 50px;
  }
}

.meet-pets-slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 980px) {
  .meet-pets-slider__items:not(:nth-child(2)) {
    display: none;
  }
  .meet-pets-slider__items .slider-item:nth-child(3) {
    margin-right: 0px;
  }
}

@media (max-width: 980px) and (max-width: 600px) {
  .meet-pets-slider__items .slider-item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 980px) {
  .meet-pets-slider__items .slider-item:first-child {
    display: none;
  }
  .meet-pets-slider__items .slider-item:last-child {
    display: none;
  }
}

.meet-pets-slider__items:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .meet-pets-slider__items:not(:last-child) {
    margin-bottom: 20px;
  }
}

.meet-pets__button {
  padding-left: 36px;
  padding-right: 36px;
}

@media (max-width: 980px) {
  .meet-pets__button {
    padding-left: 28px;
    padding-right: 26px;
  }
}

@media (max-width: 600px) {
  .meet-pets__button {
    display: none;
  }
}

.meet-pets__arrows {
  margin-bottom: 1684px;
}

@media (max-width: 1200px) {
  .meet-pets__arrows {
    margin-bottom: 1531px;
  }
}

@media (max-width: 980px) {
  .meet-pets__arrows {
    display: none;
  }
}

@media (max-width: 980px) {
  .blok-image {
    display: none;
  }
}

.animals-love_wrapper {
  margin-top: 136px;
  margin-bottom: 148px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 1200px) {
  .animals-love_wrapper {
    margin-top: 151px;
  }
}

@media (max-width: 980px) {
  .animals-love_wrapper {
    margin-top: 81px;
    margin-bottom: 100px;
  }
}

@media (max-width: 600px) {
  .animals-love_wrapper {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

.animals-love__title {
  max-width: 665px;
  width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .animals-love__title {
    margin-left: 48px;
    margin-bottom: 31px;
  }
}

@media (max-width: 980px) {
  .animals-love__title {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .animals-love__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }
}

.animals-love__text {
  max-width: 537px;
  width: 100%;
  margin-bottom: 96px;
}

@media (max-width: 1200px) {
  .animals-love__text {
    margin-left: 115px;
    margin-bottom: 48px;
  }
}

@media (max-width: 980px) {
  .animals-love__text {
    max-width: 100%;
    margin-left: 0px;
    margin-bottom: 66px;
  }
}

@media (max-width: 600px) {
  .animals-love__text {
    max-width: 90%;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 28px;
  }
}

@media (max-width: 1200px) {
  .animals-love__image {
    width: 1400px;
    height: 668px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 93px;
       object-position: 93px;
  }
}

@media (max-width: 980px) {
  .animals-love__image {
    width: 641px;
    height: 379px;
    -o-object-position: -4px;
       object-position: -4px;
  }
}

@media (max-width: 600px) {
  .animals-love__image {
    width: 108%;
    height: 190px;
  }
}

.animals-love-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1500px) {
  .animals-love-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .animals-love-item {
    margin-bottom: -17px;
  }
}

.animals-love-item_mod {
  margin-bottom: 40px;
}

@media (max-width: 980px) {
  .animals-love-item_mod {
    width: 600px;
    height: 297px;
  }
  .animals-love-item_mod .slider-item__elem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .animals-love-item_mod:not(:nth-child(2)) {
    display: none;
  }
}

@media (max-width: 600px) {
  .animals-love-item_mod {
    height: auto;
    width: 100%;
  }
  .animals-love-item_mod .slider-item__elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .animals-love-item_mod {
    margin-bottom: 16px;
  }
  .animals-love-item_mod:nth-child(2) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .animals-love-item_mod:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .animals-love-item_mod:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 20px;
    margin-right: 0px;
  }
  .animals-love-item_mod:nth-child(5) {
    margin-left: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.animals-love-item_mod:nth-child(2) {
  margin-right: 0;
}

@media (max-width: 1500px) {
  .animals-love-item_mod:nth-child(2) {
    margin-right: 40px;
  }
}

@media (max-width: 1200px) {
  .animals-love-item_mod:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 1500px) {
  .animals-love-item_mod:nth-child(3) {
    margin-right: 0;
  }
}

.animals-love__main-image {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 920px;
  height: 658px;
}

@media (max-width: 1500px) {
  .animals-love__main-image {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .animals-love__main-image {
    width: 930px;
    height: 470px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
}

.animals-love__slider-item-image {
  height: 373px;
}

@media (max-width: 1200px) {
  .animals-love__slider-item-image {
    margin-bottom: 32px;
  }
}

@media (max-width: 980px) {
  .animals-love__slider-item-image .slider-item__image-img {
    width: 300px;
    height: 297px;
  }
}

@media (max-width: 600px) {
  .animals-love__slider-item-image {
    height: 351px;
    margin-bottom: 17px;
  }
  .animals-love__slider-item-image .slider-item__image-img {
    width: 100%;
    height: 100%;
  }
}

.animals-love__slider-item-text {
  width: 100%;
  max-width: 390px;
  margin-bottom: 174px;
}

@media (max-width: 1200px) {
  .animals-love__slider-item-text {
    margin-left: -15px;
    margin-bottom: 156px;
  }
}

@media (max-width: 980px) {
  .animals-love__slider-item-text {
    max-width: 248px;
    margin-left: auto;
    margin-right: 27px;
    margin-bottom: 190px;
  }
}

@media (max-width: 600px) {
  .animals-love__slider-item-text {
    margin: 0;
    max-width: 81%;
  }
}

.animals-love__button {
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 100px;
  margin-bottom: 150px;
}

@media (max-width: 980px) {
  .animals-love__button {
    margin-top: 49px;
    margin-bottom: 99px;
  }
}

@media (max-width: 600px) {
  .animals-love__button {
    padding: 10px 26px;
    margin-bottom: 81px;
  }
  .animals-love__button .text {
    text-transform: capitalize;
  }
}

@media (max-width: 1200px) {
  .animals-love-slider__button {
    margin-bottom: 41px;
  }
}

@media (max-width: 980px) {
  .animals-love-slider__button {
    right: 76px;
    bottom: -7px;
  }
}

@media (max-width: 600px) {
  .animals-love-slider__button {
    position: relative;
    right: auto;
    bottom: auto;
    margin-bottom: 22px;
    margin-top: 1px;
  }
}

.points-selector {
  display: none;
}

@media (max-width: 980px) {
  .points-selector {
    margin-top: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  .points-selector {
    margin-top: 31px;
  }
}

@media (max-width: 980px) {
  .points-selector__item {
    width: 8px;
    height: 8px;
    border: 1px solid #000000;
    border-radius: 50%;
  }
  .points-selector__item:not(:first-child) {
    margin-left: 20px;
  }
  .points-selector__item_active {
    background-color: #000000;
  }
}

.donation {
  background: #20113d;
}

.donation_wrapper {
  margin-top: 49px;
  margin-bottom: 47px;
}

@media (max-width: 1200px) {
  .donation_wrapper {
    margin-left: 4.8vw;
    margin-right: 5vw;
    margin-top: 52px;
    margin-bottom: 50px;
  }
}

@media (max-width: 980px) {
  .donation_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .donation_wrapper {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1200px) {
  .donation-form {
    margin-bottom: auto;
  }
}

@media (max-width: 980px) {
  .donation-form {
    text-align: center;
  }
}

.donation-form__form {
  margin-top: 10px;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 5px;
  cursor: text;
  height: 74px;
}

@media (max-width: 980px) {
  .donation-form__form {
    width: 363px;
  }
}

@media (max-width: 600px) {
  .donation-form__form {
    width: 299px;
    height: 46px;
  }
}

.donation-form__form:hover {
  background: none !important;
}

.donation-form__item {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (max-width: 980px) {
  .donation-form__item {
    padding-left: 23px;
    padding-right: 24px;
    padding-left: 14px;
    padding-right: 0px;
  }
}

@media (max-width: 600px) {
  .donation-form__item {
    padding-left: 23px;
    padding-right: 0px;
  }
}

.donation-form__span {
  margin-left: 14px;
}

@media (max-width: 980px) {
  .donation-form__span {
    margin-left: 24px;
  }
}

@media (max-width: 600px) {
  .donation-form__span {
    margin-left: 1px;
  }
}

.donation-form__input {
  margin-left: 7px;
  max-width: 207px;
  background-color: transparent;
  border: none;
  cursor: text;
  margin-left: 3px;
  margin-right: 4px;
}

@media (max-width: 980px) {
  .donation-form__input {
    margin-left: 5px;
    margin-right: 26px;
  }
}

@media (max-width: 600px) {
  .donation-form__input {
    font-size: 16px;
    line-height: 20px;
    margin-left: 4px;
    width: 198px;
    margin-right: 0;
  }
}

.donation-form__input::-webkit-input-placeholder {
  color: #ffffff;
}

.donation-form__input:-ms-input-placeholder {
  color: #ffffff;
}

.donation-form__input::-ms-input-placeholder {
  color: #ffffff;
}

.donation-form__input::placeholder {
  color: #ffffff;
}

.donation-form__submit {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 600px) {
  .donation-form__submit {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.description {
  width: 91vw;
  text-align: center;
}

@media (max-width: 1200px) {
  .description {
    width: 48vw;
    text-align: start;
  }
}

@media (max-width: 980px) {
  .description {
    width: 91vw;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .description__title {
    font-size: 26px;
    line-height: 32px;
  }
}

.description__text {
  max-width: 610px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .description__text {
    margin-top: 31px;
  }
}

@media (max-width: 980px) {
  .description__text {
    margin-bottom: 29px;
  }
}

@media (max-width: 600px) {
  .description__text {
    margin-top: 28px;
    margin-bottom: 31px;
  }
}

.pay-feed {
  background: #20113d;
}

@media (max-width: 1200px) {
  .pay-feed :nth-child(5) {
    margin-top: -43px;
  }
}

@media (max-width: 980px) {
  .pay-feed :nth-child(5) {
    margin-top: 7px;
  }
}

@media (max-width: 600px) {
  .pay-feed :nth-child(5) {
    margin-top: -21px;
  }
}

@media (max-width: 1200px) {
  .pay-feed :nth-child(7) {
    margin-top: -46px;
  }
}

@media (max-width: 980px) {
  .pay-feed :nth-child(7) {
    margin-top: 7px;
  }
}

@media (max-width: 600px) {
  .pay-feed :nth-child(7) {
    margin-top: -20px;
  }
}

@media (max-width: 980px) {
  .pay-feed {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.pay-feed__title {
  margin-top: 90px;
}

@media (max-width: 1200px) {
  .pay-feed__title {
    margin-top: 150px;
    margin-left: 60px;
  }
}

@media (max-width: 980px) {
  .pay-feed__title {
    margin-top: 80px;
    margin-left: 15.5vw;
  }
}

@media (max-width: 600px) {
  .pay-feed__title {
    font-size: 26px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 18.5vw;
  }
}

.step {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .step {
    margin-top: 72px;
  }
}

@media (max-width: 980px) {
  .step {
    margin-top: 49px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 21px;
    padding-left: 20px;
    padding-right: 0px;
  }
}

@media (max-width: 600px) {
  .step {
    margin-top: 17px;
    padding-left: 10px;
    padding-right: 0px;
  }
}

@media (max-width: 1200px) {
  .step__middle {
    margin-top: 59px;
  }
}

@media (max-width: 980px) {
  .step__middle {
    margin-top: 19px;
  }
}

@media (max-width: 600px) {
  .step__middle {
    margin-top: 18px;
  }
}

@media (max-width: 1200px) {
  .step__last {
    margin-top: 61px;
  }
}

@media (max-width: 980px) {
  .step__last {
    margin-top: 22px;
  }
}

@media (max-width: 600px) {
  .step__last {
    margin-top: 19px;
  }
}

.step-description {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 1200px) {
  .step-description {
    margin-top: 0;
  }
}

@media (max-width: 980px) {
  .step-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 7px;
  }
}

@media (max-width: 600px) {
  .step-description {
    margin-top: -22px;
  }
}

.step-description__block {
  margin-left: 160px;
  max-width: 560px;
  margin-top: 16px;
  margin-bottom: 4px;
}

@media (max-width: 1200px) {
  .step-description__block {
    margin: auto;
    margin-top: 31px;
    text-align: center;
    margin-left: 1.6vw;
  }
}

@media (max-width: 980px) {
  .step-description__block {
    margin: auto;
    width: 95vw;
    margin-top: 50px;
    max-width: none;
  }
}

@media (max-width: 600px) {
  .step-description__block {
    margin-top: 30px;
    width: 89vw;
  }
}

@media (max-width: 1200px) {
  .step-description__block-middle {
    margin-top: 97px;
  }
}

@media (max-width: 980px) {
  .step-description__block-middle {
    margin-top: 50px;
    width: 91vw;
  }
}

@media (max-width: 600px) {
  .step-description__block-middle {
    margin-top: 32px;
  }
}

.step-description__block-last {
  margin-top: 96px;
}

@media (max-width: 1200px) {
  .step-description__block-last .step-description__text:nth-child(3) {
    margin-bottom: 167px;
  }
}

@media (max-width: 980px) {
  .step-description__block-last .step-description__text:nth-child(3) {
    margin-bottom: 55px;
  }
}

@media (max-width: 600px) {
  .step-description__block-last .step-description__text:nth-child(4) {
    margin-bottom: 63px;
  }
}

@media (max-width: 980px) {
  .step-description__block-last {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .step-description__block-last {
    margin-top: 31px;
  }
}

.step-description__title {
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .step-description__title {
    margin-top: 27px;
    margin-bottom: 32px;
    max-width: 546px;
  }
}

@media (max-width: 980px) {
  .step-description__title {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .step-description__title {
    margin-bottom: 27px;
  }
}

@media (max-width: 600px) {
  .step-description__text {
    display: none;
  }
}

.step-description__text-active {
  display: none;
}

@media (max-width: 600px) {
  .step-description__text-active {
    display: block;
    line-height: 27.6px;
  }
}

.step-description__image {
  margin-bottom: -9px;
}

@media (max-width: 1200px) {
  .step-description__image {
    width: 550px;
    height: 358px;
    margin-top: 74px;
  }
}

@media (max-width: 980px) {
  .step-description__image {
    width: 640px;
    height: 417px;
    margin-top: 14px;
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .step-description__image {
    width: 320px;
    height: 208px;
    margin-top: 24px;
  }
}

.step-description__button {
  margin-top: 50px;
  margin-bottom: 100px;
  padding-left: 35px;
  padding-right: 35px;
}

@media (max-width: 1200px) {
  .step-description__button {
    margin-top: 124px;
    padding-left: 49px;
    padding-right: 47px;
  }
}

@media (max-width: 980px) {
  .step-description__button {
    margin: 55px auto 61px;
    padding-left: 58px;
    padding-right: 58px;
  }
}

@media (max-width: 600px) {
  .step-description__button {
    width: 106%;
    margin-left: -8px;
    padding: 12px 55px;
  }
}

.step__title {
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .step__title {
    margin-top: 27px;
    margin-bottom: 32px;
    max-width: 546px;
  }
}

@media (max-width: 980px) {
  .step__title {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .step__title {
    margin-bottom: 27px;
  }
}

.step__line {
  margin-left: 93px;
}

@media (max-width: 1200px) {
  .step__line {
    margin-left: 69px;
  }
}

@media (max-width: 980px) {
  .step__line {
    margin-left: 10px;
  }
}

.users-think {
  background-image: url(../../assets/images/main/users-think.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 980px) {
  .users-think {
    background-color: #20113d;
    background-size: contain;
    background-position: bottom;
  }
}

.users-think_wraper {
  position: relative;
}

.users-think__title {
  margin-top: 100px;
  max-width: 400px;
}

@media (max-width: 600px) {
  .users-think__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-top: 29px;
  }
}

.users-think__text {
  margin-top: 38px;
  max-width: 560px;
}

@media (max-width: 1200px) {
  .users-think__text {
    margin-top: 19px;
    max-width: 577px;
  }
}

@media (max-width: 600px) {
  .users-think__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    max-width: 100%;
    text-align: center;
    margin-top: 24px;
  }
}

.users-think__button {
  padding-left: 77px;
  padding-right: 77px;
  margin-top: 1145px;
  margin-bottom: 150px;
}

@media (max-width: 1500px) {
  .users-think__button {
    margin-top: 1269px;
    margin-left: 94px;
  }
}

@media (max-width: 980px) {
  .users-think__button {
    margin-top: 477px;
    margin-left: 0px;
    margin-bottom: 751px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 600px) {
  .users-think__button {
    margin-top: 763px;
    padding: 11px 46px;
    margin-bottom: 450px;
  }
}

@media (max-width: 320px) {
  .users-think__button {
    margin-top: 678px;
  }
}

.reviews {
  position: absolute;
  top: 100px;
  left: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1090px;
  overflow: hidden;
}

@media (max-width: 1500px) {
  .reviews {
    top: 443px;
    left: 101px;
  }
}

@media (max-width: 980px) {
  .reviews {
    top: 442px;
    left: 0px;
  }
}

@media (max-width: 600px) {
  .reviews {
    top: 317px;
    width: 100%;
  }
}

.reviews__points-selector {
  display: none;
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__points-selector .points-selector__item_active {
  background-color: #ffffff;
}

.reviews__points-selector .points-selector__item {
  border: 1px solid #ffffff;
}

@media (max-width: 600px) {
  .reviews__points-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.reviews__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

@media (max-width: 980px) {
  .reviews__line:nth-child(2) {
    display: none;
  }
}

.reviews__buttons {
  margin-top: 30px;
}

@media (max-width: 1500px) {
  .reviews__buttons {
    margin-left: auto;
    margin-right: 73px;
    margin-top: 70px;
  }
}

@media (max-width: 980px) {
  .reviews__buttons {
    display: none;
  }
}

@media (max-width: 600px) {
  .reviews__buttons {
    display: none;
  }
}

.review {
  padding: 50px 50px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 515px;
  height: 463px;
  position: relative;
}

@media (max-width: 1200px) {
  .review {
    padding: 45px 51px 0;
    width: 43vw;
  }
}

@media (max-width: 1190px) {
  .review {
    padding: 45px 15px 0;
    width: 41vw;
  }
}

@media (max-width: 980px) {
  .review {
    width: 523px;
    height: 371px;
    padding: 51px 0 0;
    text-align: center;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .review {
    margin-right: 0;
    width: 100%;
    height: 549px;
  }
  .review:last-child {
    display: none;
  }
}

@media (max-width: 980px) {
  .review__commas {
    position: absolute;
    top: 46px;
    left: 36px;
  }
}

.review__title {
  margin-top: 34px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .review__title {
    margin-top: 41px;
    margin-bottom: 22px;
  }
}

@media (max-width: 980px) {
  .review__title {
    max-width: 290px;
    margin: auto;
    margin-bottom: 32px;
  }
}

@media (max-width: 600px) {
  .review__title {
    margin-top: 66px;
    margin-bottom: 21px;
  }
}

.review__text {
  width: 415px;
  margin-bottom: 46px;
}

@media (max-width: 1200px) {
  .review__text {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .review__text {
    width: auto;
    max-width: 463px;
    margin: auto;
    margin-bottom: 43px;
  }
}

@media (max-width: 600px) {
  .review__text {
    max-width: 88%;
    margin-bottom: 61px;
  }
}

.review__author {
  margin-bottom: 20px;
  position: absolute;
  bottom: 50px;
}

@media (max-width: 980px) {
  .review__author {
    position: static;
  }
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.popup-donate {
  max-width: 1160px;
  height: auto;
  top: calc(50vh - 407px);
  left: calc(50vw - 580px);
}

@media (max-width: 1350px) {
  .popup-donate {
    max-width: 1120px;
    top: calc(50vh - 350px);
    left: calc(50vw - 560px);
  }
}

@media (max-width: 980px) {
  .popup-donate {
    left: 0;
  }
}

.popup-donate__image {
  width: 101%;
  height: 387px;
}

@media (max-width: 1350px) {
  .popup-donate__image {
    height: 312px;
  }
}

.popup-donate__title {
  margin-top: 20px;
  max-width: 678px;
}

@media (max-width: 1350px) {
  .popup-donate__title {
    margin-top: 30px;
    margin-left: 40px;
  }
}

.popup-donate__text {
  margin-top: 33px;
  max-width: 570px;
}

@media (max-width: 1350px) {
  .popup-donate__text {
    margin-top: 23px;
    margin-left: 40px;
  }
}

.popup-donate__form {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1350px) {
  .popup-donate__form {
    padding-right: 40px;
    margin-top: 30px;
  }
}

@media (max-width: 980px) {
  .popup-donate__form {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.popup-donate__form_item {
  border: none;
  padding-top: 21.5px;
  padding-bottom: 21.5px;
  margin-bottom: 50px;
}

@media (max-width: 1350px) {
  .popup-donate__form_item {
    margin-bottom: 30px;
  }
}

.popup-donate__form_item:not(:last-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 120px;
          flex: 1 1 120px;
  margin-right: 40px;
}

.popup-donate__form_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.popup-donate__cross {
  position: relative;
  width: 100%;
  z-index: 11;
  cursor: pointer;
}

.popup-donate__cross::before, .popup-donate__cross::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 40px;
  top: 43.5px;
  right: 25.5px;
}

.popup-donate__cross::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-donate__cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-donate__cross_span {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 26.5px;
  right: 25.5px;
}

.popup-donation {
  width: 920px;
  height: auto;
  top: calc(50vh - 372px);
  left: calc(50vw - 460px);
  overflow: visible;
}

.popup-donation_active {
  background: #00a092;
}

.popup-donation__header {
  width: 100%;
  height: 135px;
  background-color: #f58021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-donation__main {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: left;
}

.popup-donation__main_text {
  margin-left: 123px;
  margin-right: 123px;
}

.popup-donation__main_text-form {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
}

.popup-donation__main_input {
  padding: 17px 20px;
  width: 100%;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: text;
}

.popup-donation__main_line {
  border-top: 1px solid #a4a8ae;
  margin-top: 10px;
}

.popup-donation__main_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 120px;
  margin-right: 120px;
}

.popup-donation__main_card-info-input .popup-donation__main_text-form,
.popup-donation__main_card-info-input .popup-donation__main_form {
  margin-left: 0;
  margin-right: 0;
}

.popup-donation__main_card-info-input:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 420px;
          flex: 0 0 420px;
}

.popup-donation__main_card-info-input:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 198px;
          flex: 0 0 198px;
  margin-left: 40px;
}

.popup-donation__main_card-info-select {
  margin-top: 10px;
  margin-bottom: 50px;
}

.popup-donation__main_card-info-select:last-child {
  margin-left: 40px;
}

.popup-donation__main_card .popup-donation__special-pet_select-arrow {
  width: 201px;
  height: 65px;
}

.popup-donation__main_form {
  margin-top: 10px;
  margin-left: 120px;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup-donation__main_item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80px;
          flex: 1 1 80px;
  border: none;
}

.popup-donation__main_item:not(:last-child) {
  margin-right: 40px;
}

.popup-donation__other {
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup-donation__other_button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  margin-right: 40px;
  border: none;
}

.popup-donation__other_input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  cursor: text;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
}

.popup-donation__special-pet {
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup-donation__special-pet_button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  margin-right: 40px;
  border: none;
}

.popup-donation__special-pet_select {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 440px;
          flex: 1 1 440px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 18px;
  line-height: 150%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.popup-donation__special-pet_select-arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-donation__special-pet_select-arrow::after {
  content: url(../../assets/icons/main/arrow-bottom.svg);
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 100%;
  pointer-events: none;
  background: #80cfc8;
  border-left: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-donation__special-pet_select-arrow:hover::after {
  background: #05786e;
}

.popup-donation__special-pet_select-arrow span {
  margin-left: -32px;
}

.popup-donation__special-pet_options {
  position: absolute;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  overflow-y: scroll;
  height: 202px;
  color: #000000;
  padding: 20px 0;
  width: 100.5%;
  left: -1px;
  z-index: 2;
  /* полоса прокрутки (скроллбар) */
  /* ползунок скроллбара */
  /* Стрелки */
}

.popup-donation__special-pet_options::-webkit-scrollbar {
  width: 32px;
}

.popup-donation__special-pet_options::-webkit-scrollbar-thumb {
  background: #80cfc8;
}

.popup-donation__special-pet_options::-webkit-scrollbar-button:vertical:start:decrement, .popup-donation__special-pet_options::-webkit-scrollbar-button:vertical:end:increment {
  background-repeat: no-repeat;
  background-position: center;
}

.popup-donation__special-pet_options::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url(../../assets/icons/main/arrow-top.svg);
}

.popup-donation__special-pet_options::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url(../../assets/icons/main/arrow-bottom.svg);
}

.popup-donation__special-pet_options-item {
  padding: 3px 20px;
}

.popup-donation__special-pet_options-item:not(:last-child) {
  margin-bottom: 34px;
}

.popup-donation__special-pet_options-item:hover, .popup-donation__special-pet_options-item:active {
  background: #80cfc8;
}

.popup-donation__confirm {
  margin-top: 43px;
  margin-left: 120px;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-donation__confirm_input {
  position: absolute;
  opacity: 0;
}

.popup-donation__confirm_input:checked + .popup-donation__confirm_label::before {
  border: none;
  background-color: #80cfc8;
  background-image: url(../../assets/icons/main/arrow-bottom.svg);
  background-size: 100% 100%;
}

.popup-donation__confirm_label {
  margin-left: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popup-donation__confirm_label::before {
  content: "";
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.popup-donation__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

.popup-donation__footer-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
}

.popup-donation__footer-scroll-item {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 1px solid #00a092;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.popup-donation__footer-scroll-item:not(:last-child) {
  margin-right: 10px;
}

.popup-donation__footer-scroll-item_active {
  background-color: #00a092;
}

.popup-donation__footer-button {
  width: 200px;
  height: 74px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.popup-donation__footer-button-back {
  margin-left: 55px;
}

.popup-donation__footer-button-back .text_button {
  text-transform: lowercase;
  text-decoration: underline;
}

.popup-donation__footer-button-back .text_button::first-letter {
  text-transform: uppercase;
}

.popup-donation__footer-button-next {
  margin-left: 70px;
}

.popup-donation__footer-button-complete {
  margin-left: 16px;
  width: 359px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */