.select-style {
  padding-top: 8px;
  border: none;
  background: inherit;
  border-bottom: 1px solid #E5E5E5;
  width: 256px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 16px;
  padding-bottom: 16px;
  outline: 0;
}
