.best-score__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  &-data {
    display: flex;
    align-items: center;
  }

  &-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    background-image: url("../../../../../assets/unknown.png");

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-contact {
    margin-left: 15px;
  }

  &-name {
    margin-bottom: 3px;
  }

  &-score-num {
    margin-left: 5px;
  }
}
