.form__avatar {
  position: absolute;
  right: 54px;
  top: 42px;
  width: 198px;
  height: 198px;
  border-radius: 50%;
  background-size: cover;
  background-image: url("../../../../../../../../assets/avatar.png");
}
