.form__avatar {
  position: absolute;
  right: 54px;
  top: 42px;
  width: 198px;
  height: 198px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  background-image: url("../../../../../../../../assets/avatar.png");
  transition: background-image 1s;

  &:hover {
    background-image: url("../../../../../../../../assets/plus.png");
  }

  &_input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
