.popup {
  width: 640px;
  height: 460px;
  top: calc(50vh - 230px);
  left: calc(50vw - 320px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}
.hidden {
  display: none;
}
