.header-wrapper {
  height: inherit;
  width: 1440px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 20px;
}
