.zoos {
  background-color: #ffffff;
  // добавила
  overflow-y: hidden;

  &_wrapper {
    align-items: center;
    position: relative;
  }

  &__button {
    position: absolute;
    top: 50px;
    right: 0;
    padding-left: 35px;
    padding-right: 35px;

    @media (max-width: 1200px) {
      top: 35px;
      padding-top: 17px;
      padding-bottom: 17px;
    }

    @media (max-width: 1060px) {
      position: relative;
      order: 1;
      // top: 859px;
    }

    @media (max-width: 768px) {
      top: 15px;
      margin-left: 60vw;
      padding-top: 14px;
      padding-bottom: 13px;
      padding-left: 21px;
      padding-right: 21px;
    }

    @media (max-width: 630px) {
      margin-left: 44.3vw;
    }

    @media (max-width: 470px) {
      order: 3;
      top: 18px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 64px;
      padding-right: 64px;
      width: 100%;
      margin-left: 0;
      margin-bottom: 66px;
    }
  }

  &__title {
    margin-top: 54px;

    @media (max-width: 1200px) {
      margin-top: 30px;
      margin-left: -2.1vw;
    }

    @media (max-width: 800px) {
      font-weight: 500;
      font-size: 42px;
      line-height: 51px;
      margin-left: 9vw;
      margin-top: 26px;
    }

    @media (max-width: 470px) {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      margin-top: 20px;
      margin-left: 16vw;
    }
  }

  &__video {
    margin-top: 50px;
    position: relative;

    @media (max-width: 1200px) {
      margin-top: 30px;
      margin-left: 8vw;

      & iframe {
        width: 85.4vw;
        height: 760px;
      }
    }

    @media (max-width: 1100px) {
      & iframe {
        height: 700px;
      }
    }

    @media (max-width: 1000px) {
      & iframe {
        height: 550px;
      }
    }

    @media (max-width: 800px) {
      & iframe {
        height: 460px;
      }
    }

    @media (max-width: 768px) {
      margin-top: 23px;

      & iframe {
        height: 400px;
      }
    }

    @media (max-width: 470px) {
      margin-top: 14px;
      margin-left: 15vw;

      & iframe {
        height: 200px;
      }
    }

    &_logo {
      position: absolute;
      bottom: 64px;
      right: 22px;

      @media (max-width: 1200px) {
        right: 3.3vw;
      }

      @media (max-width: 470px) {
        bottom: 20px;
        height: 14px;
      }
    }

    &-slider {
      margin-top: 94px;
      margin-bottom: 146px;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 1200px) {
        margin-top: 7px;
        margin-bottom: 96px;
      }

      @media (max-width: 1060px) {
        order: 2;
        margin-top: 110px;
      }

      @media (max-width: 768px) {
        margin-top: 36px;
        margin-bottom: 77px;
      }

      @media (max-width: 470px) {
        margin-top: 16px;
        margin-bottom: 28px;
      }

      & .title {
        @media (max-width: 1200px) {
          margin-left: 7.4vw;
        }

        @media (max-width: 768px) {
          font-weight: 500;
          font-size: 26px;
          line-height: 130%;
          text-transform: none;
          margin-left: -14vw;

          &::first-letter {
            text-transform: uppercase;
          }
        }

        @media (max-width: 470px) {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          margin-left: 7.5vw;
        }
      }
    }
  }
}

.main-block {
  width: 100%;
  display: flex;
}

.page-content {
  width: 100%;
  margin-left: -259px;

  @media (max-width: 1200px) {
    margin-left: -12.9vw;
  }

  @media (max-width: 1100px) {
    margin-left: -13.2vw;
  }

  @media (max-width: 1000px) {
    margin-left: -16.1vw;
  }

  @media (max-width: 900px) {
    margin-left: -16.8vw;
  }

  @media (max-width: 700px) {
    margin-left: -17.8vw;
  }

  @media (max-width: 640px) {
    margin-left: -18.3vw;
  }

  @media (max-width: 470px) {
    margin-left: -24vw;
  }

  @media (max-width: 320px) {
    margin-left: -28vw;
  }
}

@media (max-width: 320px) {
  .page_center {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .header {
    padding-left: 6vw;
    padding-right: 6.3vw;
  }

  .footer {
    padding: 0;
  }
}

.sidebar {
  background-color: #20113d;
  position: sticky;
  margin-right: 39px;
  top: 0;
  max-height: 846px;
  z-index: 1;

  @media (max-width: 470px) {
    max-height: 300px;
  }

  &__undraw {
    position: relative;
    height: 80px;
    cursor: pointer;

    @media (max-width: 470px) {
      height: 50.5px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ffffff;
    }

    &_image {
      margin: 30px;
      float: right;

      @media (max-width: 1200px) {
        margin: 27% 43%;
        float: none;
      }
    }

    &_bottom {
      position: absolute;
      top: 36px;
      left: 46%;

      @media (max-width: 470px) {
        top: 20px;
        left: 34%;
      }
    }

    &_icon {
      position: absolute;
      left: 0;
      top: 0;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }

  &__animals {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 171px;
      width: 220px;
      border-bottom: 1px solid #ffffff;

      &:not(.sidebar__animals-active):hover .sidebar__circle {
        transform: scale(1.2);
        transition: all 1s;
      }

      @media (max-width: 1200px) {
        display: none;
      }

      @media (max-width: 470px) {
        height: 50px;
      }

      // Добавила
      &_min {
        display: none;

        @media (max-width: 1200px) {
          display: flex;
          width: 9.6vw;
        }

        @media (max-width: 1000px) {
          width: 12.2vw;
        }

        @media (max-width: 470px) {
          width: 15.7vw;
        }
      }
    }

    &-active {
      cursor: default;
    }
  }

  &__circle {
    position: absolute;
    visibility: hidden;

    &_active {
      visibility: visible;
    }
  }

  &__animal {
    position: absolute;

    // добавила
    &-min {
      display: none;

      &_active {
        display: block;

        @media (max-width: 470px) {
          height: 19px;
        }
      }
    }
  }
}

.video-choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  @media (max-width: 1200px) {
    margin-left: 8.4vw;
  }

  @media (max-width: 768px) {
    margin-top: 20px;
    margin-left: 27vw;
  }

  @media (max-width: 470px) {
    margin-top: 21px;
    margin-left: 38px;
  }

  &__block {
    cursor: pointer;
  }

  &__block:not(:last-child) {
    margin-right: 13px;

    @media (max-width: 1200px) {
      margin-right: 16px;
    }
  }

  &__block:first-child,
  &__block:last-child {
    margin-top: -17px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 40px;

    @media (max-width: 1200px) {
      margin-right: 1.7vw;
    }

    @media (max-width: 768px) {
      margin-right: 3.4vw;
    }

    @media (max-width: 470px) {
      margin-right: 6.3vw;
    }
  }

  &__item {
    position: relative;

    @media (max-width: 470px) {
      &:last-child {
        display: none;
      }
      &:first-child iframe {
        border: 3px solid #f58021;
      }
    }

    // добавила
    & iframe {
      @media (max-width: 1200px) {
        width: 22vw;
      }

      @media (max-width: 768px) {
        width: 20.8vw;
        height: 105px;
      }

      @media (max-width: 470px) {
        width: 43.5vw;
        height: 110px;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }

  &__cam {
    position: absolute;
    top: 0;
    left: 0;
    width: 189px;
    height: 44px;

    @media (max-width: 768px) {
      width: 72px;
      height: 23px;
    }
  }
}

.plug {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
}

.donation {
  background: #20113d;

  &_wrapper {
    margin-top: 50px;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
      margin-top: 31px;
      margin-bottom: 31px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 51px;
      margin-bottom: 50px;
    }

    @media (max-width: 470px) {
      margin-top: 20px;
    }
  }

  &-form {
    margin-top: -28px;

    @media (max-width: 1200px) {
      margin-top: -56px;
    }

    @media (max-width: 768px) {
      margin-top: 30px;
    }

    @media (max-width: 470px) {
      margin-top: 20px;
    }
  }

  &-form__form {
    margin-top: 10px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    cursor: text;
    // добавила
    overflow: hidden;
    height: 75px;

    @media (max-width: 768px) {
      margin-top: 11px;
      width: 362px;
    }

    @media (max-width: 470px) {
      width: 298px;
      height: 45px;
    }

    &:hover {
      background: none !important;
    }
  }

  // исправила
  &-form__item {
    padding-top: 21px;
    padding-bottom: 24px;

    @media (max-width: 470px) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &-form__span {
    margin-left: 14px;

    @media (max-width: 768px) {
      margin-left: 39px;
    }

    @media (max-width: 470px) {
      margin-left: 24px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &-form__input {
    max-width: 207px;
    background-color: transparent;
    border: none;
    cursor: text;
    // добавила
    margin-left: 3px;

    @media (max-width: 768px) {
      margin-right: 20px;
    }

    @media (max-width: 470px) {
      margin-right: -15px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      margin-left: 5px;
    }
  }

  &-form__title {
    @media (max-width: 768px) {
      margin-left: 14.1vw;
    }

    @media (max-width: 470px) {
      margin-left: 18vw;
    }
  }

  &-form__input::placeholder {
    color: #ffffff;
  }

  &-form__submit {
    padding-left: 25px;
    padding-right: 25px;
    // добавила
    margin-left: 6px;

    @media (max-width: 470px) {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

.description {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @media (max-width: 470px) {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
    }
  }

  &__text {
    max-width: 880px;
    margin-top: 20px;

    @media (max-width: 1200px) {
      max-width: 61vw;
      margin-top: 21px;
      margin-left: 2px;
      letter-spacing: -0.8px;
    }

    @media (max-width: 768px) {
      max-width: 93vw;
      margin-top: 32px;
      margin-left: 0;
      letter-spacing: 0;
    }

    @media (max-width: 470px) {
      margin-top: 24px;
      line-height: 27.3px;
    }
  }
}

.did-you-know {
  &__block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 47px 60px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1200px) {
      margin-top: 100px;
      padding: 30px 6.2vw;
    }

    @media (max-width: 768px) {
      margin-top: 80px;
      padding-top: 24px;
      padding-bottom: 46px;
    }

    @media (max-width: 470px) {
      margin-top: 50px;
      padding: 30px 3.5vw 48px;
    }

    &-title {
      @media (max-width: 1200px) {
        margin-left: 3.5vw;
      }

      @media (max-width: 768px) {
        margin-left: -1.3vw;
      }

      @media (max-width: 470px) {
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        margin-left: 0;
      }
    }

    &-text {
      margin-top: 20px;
      max-width: 920px;

      @media (max-width: 1200px) {
        text-align: center;
        max-width: 62vw;
        margin-right: 1.5vw;
        margin-left: 1.5vw;
      }

      @media (max-width: 768px) {
        max-width: 81vw;
        margin-right: 0;
        margin-left: 0;
        margin-top: 31px;
      }

      @media (max-width: 470px) {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        margin-top: 23px;
        max-width: 100%;
      }
    }
  }

  &__information {
    margin-top: 153px;
    position: relative;

    @media (max-width: 1200px) {
      margin-top: 100px;
    }

    @media (max-width: 768px) {
      margin-top: 81px;
    }

    @media (max-width: 470px) {
      margin-top: 49px;
    }

    &-string:not(:last-child) {
      margin-bottom: 19px;

      @media (max-width: 470px) {
        margin-bottom: 21px;
      }
    }

    &-string:nth-child(2),
    &-string:nth-child(3) {
      @media (max-width: 1200px) {
        margin-bottom: 27px;
      }

      @media (max-width: 470px) {
        margin-bottom: 20px;
      }
    }

    &-string:nth-child(4),
    &-string:nth-child(5) {
      @media (max-width: 1200px) {
        margin-bottom: 17px;
      }
    }

    &-string:nth-child(8) {
      float: left;

      @media (max-width: 470px) {
        float: none;
      }
    }
  }

  &_text {
    margin-right: 16px;

    @media (max-width: 470px) {
      display: block;
      margin-bottom: 3px;
    }
  }

  // изменила
  &__button {
    display: flex;
    margin-left: 24vw;
    margin-top: -18px;

    @media (max-width: 768px) {
      margin-left: 44.6vw;
    }

    @media (max-width: 470px) {
      display: block;
      margin-left: 23.5vw;
      margin-top: 18.5px;
    }

    // добавила
    & .text {
      letter-spacing: 1.6px;
    }

    &:hover {
      background: #f58021;

      & .text_orange {
        color: #ffffff;
      }

      & .slider-item__button_white {
        display: block;
      }

      & .slider-item__button_orange {
        display: none;
      }
    }
  }

  &__image {
    position: absolute;
    left: 720px;
    border-radius: 7px;

    @media (max-width: 1200px) {
      left: 55.6vw;
      width: 38vw;
    }

    @media (max-width: 768px) {
      position: relative;
      width: 100%;
      left: 0;
      margin-bottom: 74px;
    }

    @media (max-width: 470px) {
      width: 107%;
      left: -3vw;
      margin-bottom: 45px;
    }
  }

  &__description {
    margin-top: 127px;
    margin-bottom: 150px;
    max-width: 1160px;

    @media (max-width: 1200px) {
      letter-spacing: -0.8px;
      margin-top: 123px;
      line-height: 27.2px;
      margin-bottom: 99px;
      max-width: 95vw;
    }

    @media (max-width: 768px) {
      margin-top: 48px;
      letter-spacing: 0;
    }

    @media (max-width: 470px) {
      margin-right: 2px;
      margin-top: 25px;
      margin-bottom: 72px;
    }
  }
}
