.zoos {
  background-color: #ffffff;

  &_wrapper {
    align-items: center;
    position: relative;
  }

  &__button {
    position: absolute;
    top: 50px;
    right: 0;
    padding-left: 35px;
    padding-right: 35px;
  }

  &__title {
    margin-top: 54px;
  }

  &__video {
    margin-top: 50px;
    position: relative;

    &_logo {
      position: absolute;
      bottom: 64px;
      right: 22px;
    }

    &-slider {
      margin-top: 100px;
      margin-bottom: 150px;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.sidebar {
  width: 200px;
  height: 500px;
  background-color: turquoise;
  position: fixed;
  top: 110px;

  &__undraw {
    position: relative;

    &:not(:last-child) {
      border-bottom: 1px solid #ffffff;
    }

    &_image {
      margin: 30px;
      float: right;
    }

    &_icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__animals {
    &-item {
      position: relative;
    }
  }

  &__circle {
      position: absolute;
  }
  
  &__animal {
      position: absolute;
  }

  &__circle-white {
    position: relative;

    & .circle-white-1 {
      position: absolute;
    }

    & .circle-white-2 {
      position: absolute;
    }
  }
}

.video-choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  &__block {
    cursor: pointer;
  }

  &__block:not(:last-child) {
    margin-right: 13px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__item {
    position: relative;
  }

  &__cam {
    position: absolute;
    top: 0;
    left: 0;
    width: 189px;
    height: 44px;
  }
}

.plug {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
}

.donation {
  background: #20113d;

  &_wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &-form__form {
    margin-top: 10px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
  }

  &-form__item {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &-form__span {
    margin-left: 14px;
  }

  &-form__input {
    margin-left: 7px;
    max-width: 207px;
    background-color: transparent;
    border: none;
  }

  &-form__input::placeholder {
    color: #ffffff;
  }

  &-form__submit {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.description {
  &__text {
    max-width: 610px;
    margin-top: 20px;
  }
}

.did-you-know {
  &__block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 47px 60px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-text {
      margin-top: 20px;
      max-width: 920px;
    }
  }

  &__information {
    margin-top: 148px;
    position: relative;

    &-string:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &_text {
    margin-right: 20px;
  }

  &__button {
    position: absolute;
    top: 330px;
    left: 285px;
  }

  &__image {
    position: absolute;
    left: 720px;
  }

  &__description {
    margin-top: 110px;
    margin-bottom: 150px;
  }
}
