@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: inherit;
  }

  &.choose {
    color: inherit;
    text-shadow: 2px 2px #585858;
  }
}

ul {
  list-style: none;
}

input {
  outline: none;

  &:disabled {
    cursor: no-drop;
  }
}

th,
td {
  @media (max-width: 560px) {
    font-size: 8px;
  }
}

th {
  cursor: pointer;
}

body.lock {
  overflow: hidden;
}

fragment {
  width: 100%;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.4px;

  &-label {
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    color: #3f51b5;
  }

  &-input {
    border: none;
    border-bottom: 1px solid #3f51b5;
  }

  &-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;

    &-popup {
      font-size: 40px;

      line-height: 85px;
      margin: 0;
    }
  }

  &-errors {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.15px;
    color: #009688;
  }

  &-button {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-white {
    color: #ffffff;
  }

  &-center {
    text-align: center;
  }

  &-gray {
    color: rgba(0, 0, 0, 0.38);
  }
}

.backgraund {
  &-white {
    background: #ffffff;
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 20px 10%;

  &.disabled {
    display: none;
  }

  &-card {
    border: 1px solid #00bf82;
    color: #00bf82;
    background: inherit;
    box-shadow: none;
    width: 120px;
    height: 30px;
    padding: 0;

    &:hover {
      background: #00bf82;
      color: #fff;
    }

    &-red {
      border: 1px solid #e53935;
      color: #e53935;

      &:hover {
        background: #e53935;
      }
    }
  }

  &-form {
    width: 248px;
    height: 60px;
    color: #fff;
    background: #e53935;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0;
  }

  &-green {
    background: linear-gradient(40deg, #00bf82, #0099ae);
    color: #f2f9fe;

    &:hover {
      background: linear-gradient(40deg, #9ee4ce, #05626e);
    }

    &:active {
      background: linear-gradient(40deg, #048a5f, #89d0da);
    }
  }

  &-circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 0;

    & > img {
      width: 60%;
      height: 60%;
    }
  }

  &-error {
    background: linear-gradient(40deg, #ff5722, #e78e73);
    color: #ffffff;
    padding: 13px 25px;
    margin-bottom: 25px;
    margin-left: 80%;

    &:hover {
      background: linear-gradient(40deg, #dba392, #ff5722);
    }

    &:active {
      background: linear-gradient(40deg, #8b341a, #bb330a);
      color: #ffffff;
    }

    &:disabled {
      background: #80808040;
      cursor: no-drop;
      box-shadow: none;
    }
  }

  &-transparent {
    background: inherit;
    color: #fff;
    box-shadow: none;

    &:hover {
      text-shadow: 2px 2px #585858;
    }
  }
}

.header {
  display: flex;
  justify-content: center;

  &-admin {
    width: 100%;
    height: 97px;
    background: #00bf82;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 30%;
    }
  }

  &-container {
    max-width: 1440px;
    width: 80%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }

  &-burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    margin-right: 4.3vw;
    z-index: 2;
    cursor: pointer;

    &__span {
      position: absolute;
      background-color: #cdcdcd;
      width: 100%;
      height: 5px;
      left: 0;
      top: 14px;
      transition: all 0.3s ease 0s;
      border-radius: 2px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #cdcdcd;
      width: 100%;
      height: 4px;
      left: 0;
      transition: all 0.3s ease 0s;
      border-radius: 2px;
    }

    &::before {
      top: 2px;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      & .header-burger__span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(45deg);
        top: 12px;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 14px;
      }
    }
  }
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: -30%;
  height: 100vh;
  width: 30%;
  background: linear-gradient(40deg, #00bf82, #0099ae);
  transition: left 1s;
  z-index: 1;
  padding: 20px;

  &.active {
    left: 0;
  }

  @media (max-width: 768px) {
    left: -100%;
    width: 100%;
  }

  &-list {
    margin-top: 150px;

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__link:hover,
    &__link.chouse {
      text-shadow: 2px 3px #201e1e;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;

  &-slider {
    position: absolute;
    width: inherit;
    height: inherit;
    cursor: pointer;
    background: linear-gradient(40deg, #00bf82, #0099ae);
    border-radius: 16px;
    transition: 0.4s;
    font-size: 18px;
    line-height: 40px;

    &:before {
      content: attr(data-on);
      opacity: 1;
      left: 7px;
      top: -2px;
      transition: 0.4s;
    }

    &:after {
      content: attr(data-off);
      opacity: 0;
      right: 13px;
      top: -2px;
      transition: 0.4s;
    }

    &:before,
    &:after {
      position: absolute;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0 1px #cdcdcd;
    }
  }

  &-handle {
    position: absolute;
    height: 33px;
    width: 33px;
    right: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 13px;
    cursor: pointer;
  }

  & input {
    display: none;

    &:checked {
      & + .switch-slider {
        background: linear-gradient(40deg, #ffd86f, #fc6262);

        &:before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }

        & + .switch-handle {
          right: 63px;
        }
      }
    }
  }
}

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-stars {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 40px;
    top: 20px;
    overflow: hidden;
  }

  &-finish {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #fff;
    top: 20px;
    display: flex;
    justify-content: center;

    & > img {
      margin-top: 4%;
      height: 85%;
      width: auto;
    }

    &.disabled {
      display: none;
    }
  }

  &-container {
    max-width: 1440px;
    width: 80%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s;
    transform-origin: right;
    border-radius: inherit;
    box-shadow: 0px 1px 5px #d3d3d3, 0px 3px 4px #d3d3d3, 0px 2px 4px #d3d3d3;

    &.choice {
      opacity: 0.5;
    }

    &__container {
      flex: 0 0 268px;
      height: 217px;
      margin-bottom: 27px;
      cursor: pointer;
      perspective: 700px;
      border-radius: 7px;
      margin-right: 27px;

      &:hover > * {
        box-shadow: 4px 15px 25px #d3d3d3, 0px 3px 4px #d3d3d3,
          0px 2px 4px #d3d3d3;
      }
    }

    & > * {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      border-radius: inherit;
      background-size: cover;
      background-position: center;
    }

    &__front {
      background: linear-gradient(#00bf82 10%, #0099ae 45%, #fff 40%);
      overflow: hidden;
      transition: 1s;

      &.game {
        background: linear-gradient(#ffd86f 10%, #fc6262 45%, #fff 40%);

        & .main-card__img-fully {
          height: 100%;
        }

        & .main-card__img-rotate {
          display: none;
        }
      }
    }

    &__back {
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 36%;
      text-transform: uppercase;
      transform: rotateY(180deg);
    }

    &__img {
      background-size: cover;
      background-position: center;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 10px solid #fff;
      margin: 20px auto;

      &-fully {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 167px;
        margin: 0 auto 10px;
        transition: 0.4s;
      }

      &-rotate {
        position: absolute;
        bottom: 8px;
        right: 10px;
        width: 40px;
        height: 32px;
      }
    }
  }
}

.flipped {
  & > * {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
}

.footer {
  margin: 100px 10% 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 640px) {
    flex-direction: column;

    & > div:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  & a,
  & div {
    color: #333333;
  }

  & > div:not(:last-child) {
    margin-right: 5%;

    & > img {
      height: 40px;
      width: 108px;
    }
  }
}

.popup {
  width: 812px;
  height: 570px;
  top: calc(50vh - 285px);
  left: calc(50vw - 406px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  overflow: hidden;

  &-header > span {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding-top: 20px;
    cursor: pointer;
  }

  &.disabled {
    visibility: hidden;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input {
      margin-top: 45px;
      border: none;
      border-bottom: 1px solid #000000;
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: absolute;
      bottom: 0;
      height: 105px;
      background: linear-gradient(40deg, #00bf82, #0099ae);
      width: 100%;
    }
  }
}

.card-category {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 244px;
  border: 1px solid #000000;
  flex: 0 0 320px;
  margin: 5px;
  padding: 10px;
  text-align: center;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;

    &_select {
      & > p {
        color: #888888;
        font-size: 0.6em;
      }

      & > input[type="file"] {
        opacity: 0;
        position: absolute;
      }
    }
  }

  &-word {
    height: 400px;

    &-img {
      height: 140px;
      width: auto;
    }

    &__change {
      margin-top: 10px;
    }
  }

  &.disabled {
    display: none;
  }

  &-new {
    justify-content: center;
    cursor: pointer;
  }

  & .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 43px;
    height: 43px;
    cursor: pointer;
    transition: 1s;

    &:hover {
      transform: scale(1.3);
    }
  }

  & .plus {
    cursor: pointer;
    transition: 1s;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}
